* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
a {
  font-family: "Signika Negative", sans-serif;
  color: #e3e5ece6;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
body {
  background-image: url("../img/test-bg-left.webp"),
    url("../img/test-bg-right.webp");
  background-size: 360px auto;
  background-position: calc(53% - 650px) 0, calc(53% + 650px) 0;
  background-repeat: repeat-y;
  background-color: rgba(17, 24, 39, 0.94);
  position: relative;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .logo img {
  max-width: 7rem;
}
.wrapper {
  padding: 15px;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 1, 13, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-top: 29px;
  padding-bottom: 2rem;
}
.ball {
  width: 24rem;
  height: 20rem;
  opacity: 0.2;
  filter: blur(54px);
  border-radius: 9999px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 25%;
  z-index: -1;
}
.ball1 {
  background-color: rgb(239, 35, 60);
}
.ball2 {
  background-color: rgb(4, 134, 139);
  top: 50%;
  left: 30%;
}
.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.center {
  text-align: center;
}
.fs6 {
  font-size: 6rem;
}
.genUrl {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
}
.genUrl form input,
.copyController input,
.urlInfo form input {
  appearance: none;
  width: 100%;
  padding: 12px 17px;
  border: 0;
  border-radius: 4px;
  color: #9c9caa;
  background: #0e131f;
  letter-spacing: 1px;
  box-shadow: 0px 4px 21px -3px #030017ad;
}
.genUrl form input:focus-visible,
.copyController input:focus-visible,
.urlInfo form input:focus-visible {
  outline: solid 2px #0d005b;
}
.genUrl form button,
.copyController button,
.urlInfo form button {
  color: #fff;
  font-size: 1.5rem;
  padding: 6px 32px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 21px -2px #060124bf;
}
.genUrl form input {
  padding: 23px 25px;
  font-size: 1rem;
  border-radius: 50px;
  padding-right: 50px;
}
.genUrl form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.genUrl form div:first-child {
  flex-grow: 1;
}
.genUrl form button {
  background: #070724;
  padding: 18px 40px;
  font-size: 1.5rem;
  border-radius: 100px;
}

.genUrl form button:active,
.copyController button:active,
.urlInfo form button:active {
  transform: scale(0.9);
}

.copyController {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
}

.copyController button,
.urlInfo form button {
  background: #10152f;
  margin-right: 1rem;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 30px;
  transition: all 0.2s ease-in;
}
.copyController button:hover {
  background: #2b3044;
}
.copyController a {
  padding: 10px 30px;
  color: #e3e5ece6;
  position: relative;
  font-size: 1.1rem;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
}
.copyController a:after,
.copyController a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #e3e5ece6;
  transition: transform 0.2s;
}
.copyController a:after {
  transform: translate(3px, 3px);
}
.copyController a:before {
  transform: translate(-3px, -3px);
}
.copyController a:hover:after,
.copyController a:hover:before {
  transform: translate(0);
}
.copyController button,
.copyController a {
  margin-top: 1.5rem;
}
.urlInfo {
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.allUrlInfo h3 {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}
.allUrlInfo > div {
  background: #131a26;
  letter-spacing: 1px;
  box-shadow: 0px 9px 18px -3px #00000078;
  padding: 10px 16px;
  border-radius: 4px;
  margin-bottom: 1.8rem;
  border-left: 5px solid #000;
  word-break: break-all;
}

.urlInfo form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.urlInfo form div:first-child {
  flex-grow: 1;
}

.urlInfo form button {
  background: #3530d5;
}
.urlInfo form button:hover {
  background: #3530d5ca;
}
.input-cover {
  position: relative;
}
.genUrl form .input-cover > button {
  position: absolute;
  right: 10px;
  transform: translate(0%, -50%);
  top: 55%;
  background: none;
  padding: 0px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
}
.wiggle {
  animation: wiggle 4s linear infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateX(var(--translate-x, 10px)) translateY(0)
      rotate(0deg);
  }
  to {
    transform: rotate(1turn) translateX(var(--translate-x, 10px)) translateY(0)
      rotate(-1turn);
  }
}
.btn {
  position: relative;
}
.btn span {
  position: relative;
  z-index: 999;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  transition-delay: 0s;
  background: #3530d5;
  box-shadow: 0 0 2px #3033d5, 0 0 4px #3033d5, 0 0 7px #3033d5, 0 0 8px #3033d5;
}

.btn::before {
  bottom: -5px;
}

.btn::after {
  top: -5px;
}

.btn:hover::before,
.btn:hover::after {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  transition-delay: 0.3s;
}

.btn:hover::before {
  bottom: 0;
}

.btn:hover::after {
  top: 0;
}

footer {
  margin-top: 0.8rem;
  text-align: center;
  text-transform: capitalize;
}
.errorbody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.list {
  background: #2f319d;
  max-width: 15rem;
  border-radius: 5px;
  position: relative;

  margin-left: auto;
}
.list p {
  text-align: center;
}
.list::after {
  content: attr(data-list-length);
  position: absolute;
  left: -15px;
  top: -15px;
  padding: 5px;
  background: #ff2424;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
}

#list-items::-webkit-scrollbar {
  display: none;
}

#list-items {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#list-items {
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  overflow: auto;
  max-height: 10rem;
  text-align: center;
}
#list-items li {
  padding: 0 0.7rem;
  padding-bottom: 1.3rem;
}
#list-items li:first-child {
  padding-top: 0.5rem;
}

#list-items .label.alert {
  padding: 3px 9px;
  background: #e61414;
  margin-left: 10px;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
}

#list-items .label.alert:hover {
  opacity: 0.8;
}
#list-items .label.alert:last-child {
  background: #10152f;
}
#list-items .label.alert:last-child:active {
  color: #08c18d;
}

@media only screen and (max-width: 760px) {
  .copyController {
    margin: unset;
    text-align: left;
    margin-top: 4rem;
  }
  .fs6 {
    font-size: 3rem;
  }
  .center {
    text-align: left;
  }
  .genUrl form input {
    padding: 15px 17px;
    padding-right: 50px;
  }
  .genUrl form button {
    padding: 15px 20px;
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .wiggle {
    animation: unset;
  }
  .container {
    backdrop-filter: blur(0);
  }
  .wrap .logo img {
    max-width: 5rem;
  }
}

.showInf {
  display: none;
}

@media only screen and (max-width: 460px) {
    .genUrl form {

	gap: 22px;
	flex-direction: column;
	align-items: unset;
}
}




















